.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.feature-item {
  width: 100%;
}

.feature-icon-wrap {
  display: none;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}

.feature-title {
  margin-bottom: 8px;
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.feature-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .features-list { flex-flow: row wrap; gap: 72px 24px; }
  .feature-item { width: calc((100% - 24px) / 2); }
  .feature-title { text-align: left; }
}

@media (min-width: 1158px) {
  .features-list { flex-wrap: nowrap; gap: 24px; }
  .feature-item { width: calc((100% - 72px) / 4); }
  .feature-icon-wrap { display: flex; }
  .feature-title { font-size: 20px; font-weight: 500; line-height: 1.2; }
  .feature-description { font-weight: 400; }
}
